
%ul
	%li &nbsp;
%p
	%button.btn.btn-large.btn-inverse{:type => "button"} Support Us
%ul
	%li 
	%li Download a copy of our
	%li 
		%a(href="http://dl.dropbox.com/u/97246920/UTIS_SponsorshipPackage_V4.pdf") Sponsorship Package
	%li &nbsp;
	%li Thank you to our partners:
	%li &nbsp;	
	%li
		= image_tag 'southst.jpg'
	%li &nbsp;
	%li 
		= image_tag 'engsoc.jpg'
	%li &nbsp;
	%li
		= image_tag 'eaa.jpg'
	%li &nbsp;
	%li &nbsp;
	%li &nbsp;
	%li &nbsp;
	%li &nbsp;
	%li &nbsp;
	%li &nbsp;
	%li &nbsp;
	%li &nbsp;
	%li &nbsp;
	%li &nbsp;
	%li &nbsp;
	%li &nbsp;
	%li &nbsp;
	%li &nbsp;
	%li &nbsp;
	%li &nbsp;
	%li &nbsp;




