%h2 About
.text

  %p
    The University of Toronto Ironsports Club (UTIS) is non-profit student
    powerlifting community.  Founded in March 2012 by Amanda Santos and James
    Cash, U of T Ironsports was created to connect student powerlifters to
    training and nutrition resources as well as each other. Students are often
    seeking healthy methods of stress relief and support networks, both of
    which U of T Ironsports aims to provide.
  %p.center
    %img.whitebrd.smaller(src="http://dl.dropbox.com/u/97246920/amanda2.jpg")

  %h3 Why Powerlifting?

  %blockquote
    "The Iron is the best antidepressant I have ever found. There is no better way to fight weakness than with strength. Once the mind and body have been awakened to their true potential, it’s impossible to turn back. The Iron never lies to you. You can walk outside and listen to all kinds of talk, get told that you’re a god or a total bastard. The Iron will always kick you the real deal. The Iron is the great reference point, the all-knowing perspective giver. Always there like a beacon in the pitch black. I have found the Iron to be my greatest friend. It never freaks out on me, never runs. Friends may come and go. But two hundred pounds is always two hundred pounds." - Excerpt from
    %a(href="http://www.oldtimestrongman.com/strength-articles/iron-henry-rollins") The Iron
    by Henry Rollins

  %p
    Powerlifting is a very accessible sport that can be practiced by
    participants of any age, body-type, and athletic background. Power-training
    is a key component in many other types of sports-specific training and, as
    such, U of T Ironsports athletes can excel with other sports teams
    simultaneously. While group training sessions will be offered and
    encouraged, U of T Ironsports members are able to train at a time most
    convenient to them.

  %h3 Events

  %h4 Ironsports Club Meets
  %p
    Four times a year, U of T Ironsports will be hosting IPF-style powerlifting
    competitions on campus. A group of lifters will be selected from our group
    to demonstrate their one-repetition-max attempts at the squat, bench, and
    deadlift. Their raw weight totals will be scaled acording to Wilks. Top
    male, female, and most improved lifter will take home a prize.
  %h4 Training &amp; Nutrition Seminars
  %p
    Developing proper lifting technique is of utmost importance in beginner
    strength training athletes. What is also important is an understanding of
    the fuel &amp; recovery schedule each body needs to participate successfully in
    the sport. These seminars are designed to deliver that education.
  %h4 Train &amp; Eat!
  %p
    Post-workout feasts are the most satisfying feasts. Here, U of T Ironsports
    members will have the opportunity to take a break from the iron and catch
    up with our community.
  %h4 Jr. Ironsports Outreach
  %p
    In the spring, we're planning on delivering a presentation at a local
    highschool. So many youth can benefit from learning about the positive
    impact strength training has on body-image, self-esteem, and physical
    fitness. We're eager to spread the message among and beyond our members.

  %h4 Official OPA-Sanctioned Competitions
  %p
    The Ontario Powerlifting Association hosts a bunch of Classic 3-lift
    competitions throughout the summer. Our top athletes will be encouraged to
    enter. Athletes that qualify for national level competitions or federation
    records are welcome to pursue those titles.

