%h2 About

.text
	%p The University of Toronto Ironsports Club (UTIS) is non-profit student powerlifting community.  Founded in March 2012 by Amanda Santos and James Cash, U of T Ironsports was created to connect student powerlifters to training and nutrition resources, as well as each other. Students are often seeking healthy methods of stress relief and some friends to confide in when the academic load gets a little heavy to handie. This is exactly the mission of U of T Ironsports, aiming to help U of T students find their strength in & outside the weight room. 

	%p	
		%h3 Why Powerlifting?
		%p Powerlifting is a very accessible sport that can be practiced by participants of any age, body-type, and athletic background. Power-training is a key component in many other types of sports-specific training and, as such, U of T Ironsports athletes can excel with other sports teams simultaneously. While group training sessions will be offered and encouraged, U of T Ironsports members are able to train at a time most convenient to them which is a quality particularly important to student athletes.
	%p
		%h3 Events
		%p 