%h2 Calendar

%iframe{:frameborder => "0", :height => "400", :scrolling => "no", :src => "http://www.google.com/calendar/embed?src=6nf5c208h1prqelvvn8la4eu04%40group.calendar.google.com&ctz=America/Toronto", :style => " border-width:0 ", :width => "600"}
