%h2 About U of T Ironsports
.text
  %p

  %p.center
    = image_tag 'club1.jpg', class: 'whitebrd smaller'
  %p
    The University of Toronto Ironsports Club (UTIS) is non-profit student
    strength training community.  Founded in March 2012, U of T Ironsports was created
    to connect students to strength training and nutrition resources as well as each other.
    Students are often seeking healthy methods of stress relief and support networks, both of
    which U of T Ironsports aims to provide.
  %p
    Our club now includes powerlifting and weightlifting divisions. Powerlifting is a sport
    that consists of three attempts at maximal weight on three lifts: squat, bench press, and deadlift. 
    The powerlifts primarily test absolute strength. In comparison to powerlifting, weightlifting 
    tests aspects of explosive strength. Weightlifting is an Olympic sport comprised of the snatch and
    clean & jerk movements. Both sports demonstrate the extreme strength limits of human potential,
    and the incredible will and dedication of their athletes. 
  %p
    Powerlifting and weightlifting appeal to students due to their versatility: though group
    training sessions are offered and encouraged, our members have the flexibility to train
    at a time most convenient to them. For some the sport can be a meditation, and for others
    picking up heavy things and putting them down is a great way to de-stress with your friends. 
    Our members know, regardless of how poor or well our exams, essays, and assignments go -
    the iron will always make us feel better. 
  %p.center
    = image_tag 'squat.jpg', class: 'whitebrd smaller'

  %h3 Why Strength Sports?

  %figure
    %blockquote(cite="http://www.oldtimestrongman.com/strength-articles/iron-henry-rollins")
      "The Iron is the best antidepressant I have ever found. There is no better
      way to fight weakness than with strength. Once the mind and body have been
      awakened to their true potential, it’s impossible to turn back. The Iron
      never lies to you. You can walk outside and listen to all kinds of talk,
      get told that you’re a god or a total bastard. The Iron will always kick
      you the real deal. The Iron is the great reference point, the all-knowing
      perspective giver. Always there like a beacon in the pitch black. I have
      found the Iron to be my greatest friend. It never freaks out on me, never
      runs. Friends may come and go. But two hundred pounds is always two hundred
      pounds."
    %figcaption
      &mdash; Excerpt from
      %a(href="http://www.oldtimestrongman.com/strength-articles/iron-henry-rollins")
        %cite The Iron
      by Henry Rollins


