%h2 Contact
%h4 For general inquiries:
%ul
	%li Amanda Santos
	%li Club President
	%li 
		%a(href="mailto:president@uoftironsports.ca") president@uoftironsports.ca
%br
%h4 Having problems with our website?
%ul
	%li James Cash
	%li Website Administrator
	%li
		%a(href="mailto:webadmin@uoftironsports.ca") webadmin@uoftironsports.ca
