%h2 Contact
%h4 General Inquiries:
%ul
  %li
    Amanda Santos, Club President -
    %a(href="mailto:president@uoftironsports.ca") president@uoftironsports.ca
%h4 Questions about How to Join?
%ul
  %li
    William Kingsford, VP Communication -
    %a(href="mailto:vpcomm@uoftironsports.ca") vpcomm@uoftironsports.ca

%h4 Questions about Lifting?
%ul
  %li
    General
    %a(href="mailto:coach@uoftironsports.ca") coach@uoftironsports.ca
  %li
    Nick Wojcik, Powerlifting -
    %a(href="mailto:coach@uoftironsports.ca") coach@uoftironsports.ca
  %li
    Hiro Zhou, Weightlifting -
    %a(href="mailto:coach@uoftironsports.ca") coach@uoftironsports.ca
  %li
    Killian Lucas, Weightlifting -
    %a(href="mailto:coach@uoftironsports.ca") coach@uoftironsports.ca

%h4 Having problems with our website?
%ul
  %li
  James Cash, Website Administrator -
  %a(href="mailto:webadmin@uoftironsports.ca") webadmin@uoftironsports.ca
