%h2 Our Events
.text
  %p
    We primarily host three types of events throughout the year: lifting competitions,
    seminars, and social train & eat events. Visit our
    =link_to 'calendar', calendar_path
    page for more details about upcoming events.

  %h3
    Lifting Competitions: Bar is Loaded
  %p
    The hard work of our members is culminated &amp; showcased at our lifting
    competitions.  All of our lifters are students, each with midterms &amp; a
    life to balance outside of school. These competitions give them a unique
    competitive experience - to summon their focus, self-confidence, and
    strength to carry out these powerful full body movements.
  %p
    Competitions are hosted at 55 Harbord St. in the Strength &amp;
    Conditioning Centre at the U of T Athetic Center.
    All paid members are elibile to compete with a $15 athlete registration
    fee. For our members (&amp; supporters!) not interested in competiting,
    we need a ton of volunteers to spot, judge, load &amp; help with set-up and
    take-down. Spectators are welcome!

  %br

  %h4 Ironsports Classic 3-Lift Powerlifting Meets
  %p.center
    = image_tag 'squat2.jpg', class: 'left whitebrd smaller2'
  %ul
    %li
      .redtext
        Students lifters will be demonstrating their one-repetition max attempts at the squat,
        bench, and deadlift. Our meets are conducted in IPF-style, with each lifter given three
        attempts at each lift. Raw weight totals will be scaled according to Wilks, and the
        top three lifters will take home bronze, silver, &amp; gold.
    %li
      %u Meet Director:
      Amanda Santos -
      %a(href="mailto:president@uoftironsports.ca") president@uoftironsports.ca
    %li
      %u Date:
      Saturday, October 5th, 2013 (TBC) and Saturday, April 6th, 2014 (TBC)

  %p.clear
  %br

  %h4 Ironsports Winter Weightlifting Competition
  %p.center
    = image_tag 'clean.jpg', class: 'left whitebrd smaller2'
  %ul
    %li
      .redtext
        Students lifters will be demonstrating their one-repetition max attempts at the snatch and
        clean &amp; jerk. Our meets are conducted in IWF-style, with each lifter given three attempts
        at each lift. Raw weight totals will be scaled according to Sinclair, and the top three
        lifters will take home bronze, silver, &amp; gold.
    %li
      %u Meet Director:
      Killian Lucas -
      %a(href="mailto:coach@uoftironsports.ca") coach@uoftironsports.ca
    %li
      %u Date:
      Saturday, February 2nd, 2014 (TBC)
  %p.clear

  %br
  %h3
    Seminars: Strength Training &amp; Nutrition Education
  %p
    .redtext
      Throughout the year we host training &amp; nutrition seminars, to help educate our student athletes.
    Upcoming topics for this year include: Strength Training Programming, Competitive Powerlifting,
    Eating for Mass Gain, Mobility, Recovery &amp; Injury Prevention, Competitive Weightlifting, and
    Eating for Fat Loss.

  %h3
    Social Training &amp; Eating Events
  %p
    .redtext
      Academic crunch time means for our members the need more casual programming.
    Events such as Bulktober &amp; our post-workout meal contest were created to give our members a
    break from the iron and some time to catch up with the community.


