%p.center
  = image_tag 'joinusbanner.jpg', class: 'whitebrd'
%p.center
  Interested in becoming a member of U of T Ironsports?
%ol.center
  %li
    Sign up on our
    = link_to 'mailing list', "http://eepurl.com/oqcN1"
    to recieve updates about our club events.
  %li
    Attend one of our seminars to register as an official member ($10). Visit our
    =link_to 'calendar', calendar_path
    to see upcoming events.

%h3.text
  Membership Benefits
%p.text
  Becoming a paid member of U of T Ironsports entitles you to reciept of a
  custom U of T Ironsports training log notebook and a membership card. This
  card allows you to access all online club resources and compete at all club
  meets. For our train &amp; eat social events, as a team we may receive meals at a
  reduced cost. These discounts are only applicable to paid members. Membership
  is renewed annually. To register as an official paid member, one can only do
  so at our training &amp; nutrition seminars. 
%p.text
  Any U of T student, staff, or faculty member is welcome to join U of T
  Ironsports. No prequisites training-wise are required.
%h3.text
  Executive Team
%p.text
  If you're interested in helping with the club logistics of hosting events,
  pursuing sponsorship opportunities, media respresentation, or managing our
  communications we'd love to hear from you. For more details regarding
  executive roles and structure of our club, feel free to take a look at our
  = link_to 'club constitution.', "http://dl.dropbox.com/u/97246920/UofTIronsportsConstitution_031612.pdf"


