
.text
  %p.center
    = image_tag 'stress.jpg', class: 'whitebrd left'   
  %h3
    .redtext
      Interested in becoming a member of U of T Ironsports?
  %p
    1. Sign up on our
    = link_to 'mailing list', "http://eepurl.com/oqcN1"
    to recieve updates about our club events.
  %p
    2. Attend one of our seminars to register as an official member ($10). Visit our
    =link_to 'calendar', calendar_path
    to see upcoming events. 

%h3.text
  Membership Benefits
%p.text
  Becoming a paid member of U of T Ironsports entitles you to receipt of a
  custom U of T Ironsports training log notebook and eligibility to participate
  at any of our events. Membership is renewed annually. To register as an official
  paid member, one can do so at any of our seminar events.  
%p.text
  Any U of T student, staff, alumni or faculty member is welcome to join U of T
  Ironsports. No lifting experience necessary.
%p.clear
%h3.text
  Executive Team
%p.text
  If you're interested in helping with the club logistics of hosting events,
  pursuing sponsorship opportunities, media respresentation, or managing our
  communications we'd love to hear from you. For more details regarding
  executive roles and structure of our club, feel free to take a look at our
  = link_to 'club constitution.', "http://dl.dropbox.com/u/97246920/UofTIronsportsConstitution_031612.pdf"



