%h2 Media
%ul
  %li.gallery
    %a(href="https://picasaweb.google.com/105478977951551399459/Promotional?authuser=0&feat=embedwebsite")
      .text Promotional
      %img.whitebrd(src="https://lh4.googleusercontent.com/-_lAWCFWNIqE/UD_iRCClm3E/AAAAAAAAABI/MP7GsLOpXIY/s144-c/Promotional.jpg")
  %li.gallery
    %a(href="https://picasaweb.google.com/105478977951551399459/Recruitment")
      .text Recruitment
      %img.whitebrd(src="https://lh4.googleusercontent.com/-0YMvAWXNSXg/UHY3_eVJqmE/AAAAAAAAACU/7gl1ITuRuTE/s144-c/Recruitment.jpg")
  %li.gallery
    %a(href="https://picasaweb.google.com/105478977951551399459/Seminars")
      .text Seminars
      %img.whitebrd(src="https://lh3.googleusercontent.com/-XgK_fx867vQ/UHY5l0UWnlE/AAAAAAAAACo/R2Vf6rXSpAE/s144-c/Seminars.jpg")
  %li.gallery
    %a(href="https://picasaweb.google.com/105478977951551399459/OctoberClassic3Lift?authuser=0&feat=directlink")
      .text October 28th 2012 Classic 3-Lift
      %img.whitebrd(src="https://lh5.googleusercontent.com/-bL6gyJf_Neo/UKm1Sj2Ga5E/AAAAAAAAAaY/iTMNyQI_f0c/s144-c/OctoberClassic3Lift.jpg")      


