%h2 Gallery
%ul
	%li.gallery
		%a(href="https://picasaweb.google.com/105478977951551399459/Promotional?authuser=0&feat=embedwebsite")
			.text Promotional
			%img.whitebrd(src="https://lh4.googleusercontent.com/-_lAWCFWNIqE/UD_iRCClm3E/AAAAAAAAABI/MP7GsLOpXIY/s160-c/Promotional.jpg")


