%h2 Results

%p All weights in kilograms; red indicates a failed attempt, green indicates success

.text
  %h3 October 5th 2013 Classic 3-Lift Competition

%table.results
  %tr
    %th(colspan="3") Lifters
    %th(colspan="4") Squat Attempts
    %th(colspan="4") Bench Attempts
    %th(colspan="4") Deadlift Attempts
  %tr
    %th Name
    %th Weight
    %th Sex
    %th  1
    %th  2
    %th  3
    %th Best
    %th  1
    %th  2
    %th  3
    %th Best
    %th  1
    %th  2
    %th  3
    %th Best
    %th Total
    %th Wilks
    %th Place
  %tr
    %td Walter Cariazo
    %td 94.95
    %td M
    %td.success 170
    %td.success 185
    %td.success 200
    %td 200
    %td.fail 130
    %td.success 155
    %td.fail 165
    %td 155
    %td.success 240
    %td.success 255
    %td.success 273
    %td 273
    %td 628
    %td 390.7
    %td 1
  %tr
    %td Mark Tatangelo
    %td 94.77
    %td M
    %td.success 195
    %td.success 205
    %td.success 215
    %td 215
    %td.success 110
    %td.success 125
    %td.success 137
    %td 137
    %td.success 215
    %td.success 240
    %td.success 261
    %td 261
    %td 613
    %td 381.7
    %td 2
  %tr
    %td Adam Crockford
    %td 102
    %td M
    %td.success 165
    %td.success 175
    %td.success 185
    %td 185
    %td.success 115
    %td.success 121
    %td.success 131
    %td 131
    %td.success 239
    %td.success 250
    %td.fail 273
    %td 250
    %td 566
    %td 341.8
    %td 3
  %tr
    %td Andrey Vul
    %td 111.27
    %td M
    %td.success 215
    %td.success 225
    %td.success 235
    %td 235
    %td.fail 113
    %td.success 113
    %td.fail 123
    %td 113
    %td.success 217
    %td.success 225
    %td.success 233
    %td 233
    %td 581
    %td 340.7
    %td 4
  %tr
    %td George Ceko
    %td 90.90
    %td M
    %td.success 135
    %td.success 145
    %td.success 150
    %td 150
    %td.success 105
    %td.success 110
    %td.success 115
    %td 115
    %td.success 185
    %td.success 195
    %td.success 205
    %td 205
    %td 470
    %td 298.5
    %td 5
  %tr
    %td Christopher Juman
    %td 89.45
    %td M
    %td.fail 143
    %td.fail 147
    %td.success 151
    %td 151
    %td.success 93
    %td.success 103
    %td.success 107
    %td 107
    %td.success 183
    %td.success 200
    %td.success 208
    %td 208
    %td 466
    %td 298.4
    %td 6
  %tr
    %td Jeremy Louie
    %td 84.86
    %td M
    %td.success 125
    %td.success 145
    %td.fail 149
    %td 145
    %td.fail 105
    %td.success 107
    %td.fail 111
    %td 107
    %td.success 181
    %td.fail 191
    %td.success 200
    %td 200
    %td 452
    %td 297.8
    %td 7
  %tr
    %td Nicolo Marchisao
    %td 68.45
    %td M
    %td.success 115
    %td.success 120
    %td.fail 125
    %td 120
    %td.success 70
    %td.success 75
    %td.fail 80
    %td 75
    %td.success 140
    %td.success 142
    %td.success 145
    %td 145
    %td 340
    %td 259.2
    %td 9
  %tr
    %td Will Kingsford
    %td 102.72
    %td M
    %td.success 140
    %td.success 150
    %td.success 160
    %td 160
    %td.success 85
    %td.fail 93
    %td.fail 100
    %td 85
    %td.success 170
    %td.fail 190
    %td.fail 190
    %td 170
    %td 415
    %td 250.0
    %td 10
  %tr
    %td Lucy Trojanowski
    %td 77.6
    %td F
    %td.success 69
    %td.success 79
    %td.success 89
    %td 89
    %td.success 49
    %td.fail 57
    %td.success 57
    %td 57
    %td.success 91
    %td.success 105
    %td.success 113
    %td 113
    %td 259
    %td 241.2
    %td 11
  %tr
    %td Jordan Louie
    %td 67
    %td M
    %td.success 75
    %td.fail 95
    %td.fail 105
    %td 75
    %td.fail 75
    %td.fail 75
    %td.fail 75
    %td N/A
    %td.success 135
    %td.success 143
    %td.success 145
    %td 145
    %td.fail 220
    %td.fail 170.6
    %td 12
  %tr
    %td Phillip Chan
    %td 68.81
    %td M
    %td.success 127
    %td.fail 139
    %td.fail 139
    %td 127
    %td.success 81
    %td.success 85
    %td.fail 89
    %td 85
    %td.fail 180
    %td.fail 185
    %td.fail 185
    %td N/A
    %td.fail 212
    %td.fail 161.0
    %td 13

.text
  %h3 April 7th 2013 Classic 3-Lift Competition

%table.results
  %tr
    %th(colspan="3") Lifters
    %th(colspan="4") Squat Attempts
    %th(colspan="4") Bench Attempts
    %th(colspan="4") Deadlift Attempts
  %tr
    %th Name
    %th Weight
    %th Sex
    %th  1
    %th  2
    %th  3
    %th Best
    %th  1
    %th  2
    %th  3
    %th Best
    %th  1
    %th  2
    %th  3
    %th Best
    %th Total
    %th Wilks
    %th Place
  %tr
    %td Isaac Baik
    %td 80.5
    %td M
    %td.success 160
    %td.success 170
    %td.success 180
    %td 180
    %td.success 140
    %td.success 150
    %td.fail 160
    %td 150
    %td.success 210
    %td.success 220
    %td.success 235
    %td 235
    %td 565
    %td 384.2
    %td 1
  %tr
    %td Jeremiah Villanueva
    %td 68.7
    %td M
    %td.success 150
    %td.success 165
    %td.success 170
    %td 170
    %td.success 100
    %td.fail 105
    %td.fail 105
    %td 100
    %td.success 190
    %td.fail 200
    %td.fail 200
    %td 190
    %td 460
    %td 349.8
    %td 2
  %tr
    %td Zachary Morrow
    %td 86.1
    %td M
    %td.success 160
    %td.success 175
    %td.fail 180
    %td 175
    %td.success 107
    %td.fail 115
    %td.fail 115
    %td 107
    %td.success 173
    %td.success 185
    %td.success 203
    %td 203
    %td 485
    %td 317.0
    %td 3
  %tr
    %td Zachary Hill
    %td 108.6
    %td M
    %td.success 153
    %td.success 175
    %td.success 185
    %td 185
    %td.fail 93
    %td.success 93
    %td.success 105
    %td 105
    %td.success 183
    %td.success 201
    %td.success 215
    %td 215
    %td 505
    %td 298.4
    %td 4
  %tr
    %td Henry Lee
    %td 79.5
    %td M
    %td.success 131
    %td.success 145
    %td.fail 149
    %td 145
    %td.success 93
    %td.success 97
    %td.fail 99
    %td 97
    %td.success 171
    %td.success 183
    %td.fail 185
    %td 183
    %td 425
    %td 291.3
    %td 5
  %tr
    %td Peter Radonic
    %td 91.6
    %td M
    %td.fail 140
    %td.success 150
    %td.fail 156
    %td 150
    %td.success 95
    %td.fail 103
    %td.fail 105
    %td 95
    %td.success 200
    %td.success 210
    %td.fail 220
    %td 210
    %td 455
    %td 287.9
    %td 6
  %tr
    %td Danny Dinh
    %td 78.6
    %td M
    %td.success 143
    %td.success 153
    %td.fail 159
    %td 153
    %td.success 91
    %td.fail 97
    %td.success 97
    %td 97
    %td.success 145
    %td.success 157
    %td.success 165
    %td 165
    %td 415
    %td 286.5
    %td 7
  %tr
    %td Phillip Chan
    %td 75
    %td M
    %td.success 121
    %td.success 137
    %td.fail 145
    %td 137
    %td.success 81
    %td.success 87
    %td.fail 93
    %td 87
    %td.success 159
    %td.fail 173
    %td.success 175
    %td 175
    %td 399
    %td 284.3
    %td 8
  %tr
    %td Emily Ng
    %td 65.4
    %td F
    %td.success 93
    %td.success 99
    %td.fail 105
    %td 99
    %td.fail 51
    %td.success 51
    %td.fail 55
    %td 51
    %td.success 100
    %td.success 105
    %td.success 109
    %td 109
    %td 259
    %td 270.5
    %td 9
  %tr
    %td William Kingsford
    %td 94.7
    %td M
    %td.success 111
    %td.success 121
    %td.success 130
    %td 130
    %td.success 61
    %td.fail 72
    %td.fail 72
    %td 61
    %td.success 121
    %td.success 140
    %td.fail 160
    %td 140
    %td 331
    %td 206.2
    %td 10
  %tr
    %td Jenny Lemberg
    %td 67.1
    %td F
    %td.fail 100
    %td.fail 102
    %td.fail 102
    %td N/A
    %td.fail N/A
    %td.fail N/A
    %td.fail N/A
    %td N/A
    %td.fail N/A
    %td.fail N/A
    %td.fail N/A
    %td N/A
    %td.fail 102
    %td.fail 104.5
    %td 11


.text
  %h3 October 28th 2012 Classic 3-Lift Competition

%table.results
  %tr
    %th(colspan="3") Lifters
    %th(colspan="4") Squat Attempts
    %th(colspan="4") Bench Attempts
    %th(colspan="4") Deadlift Attempts
  %tr
    %th Name
    %th Weight
    %th Sex
    %th  1
    %th  2
    %th  3
    %th Best
    %th  1
    %th  2
    %th  3
    %th Best
    %th  1
    %th  2
    %th  3
    %th Best
    %th Total
    %th Wilks
    %th Place
  %tr
    %td John Tan
    %td 82
    %td M
    %td.success 127
    %td.success 143
    %td.success 153
    %td 153
    %td.success 73
    %td.success 85
    %td.fail 99
    %td 85
    %td.success 185
    %td.success 207
    %td.success 213
    %td 213
    %td 451
    %td 303.2
    %td 1
  %tr
    %td Jade Pauley
    %td 73.6
    %td M
    %td.success 115
    %td.success 129
    %td.fail 137
    %td 129
    %td.fail 75
    %td.success 77
    %td.success 81
    %td 81
    %td.success 161
    %td.success 171
    %td.success 177
    %td 177
    %td 387
    %td 279.5
    %td 2
  %tr
    %td Abdullah Syed
    %td 78.8
    %td M
    %td.success 135
    %td.fail 142
    %td.success 144
    %td 144
    %td.success 75
    %td.success 80
    %td.success 87
    %td 87
    %td.success 155
    %td.success 161
    %td.fail 168
    %td 161
    %td 392
    %td 270.2
    %td 3
  %tr
    %td Peter Radonic
    %td 86.7
    %td M
    %td.fail 125
    %td.success 127
    %td.fail 143
    %td 127
    %td.success 83
    %td.success 87
    %td.fail 93
    %td 87
    %td.success 180
    %td.success 190
    %td.fail 195
    %td 190
    %td 404
    %td 263.0
    %td 4
  %tr
    %td Henry Lee
    %td 73.8
    %td M
    %td.success 113
    %td.success 117
    %td.success 125
    %td 125
    %td.success 79
    %td.success 85
    %td.fail 91
    %td 85
    %td.success 141
    %td.success 149
    %td.success 153
    %td 153
    %td 363
    %td 261.6
    %td 5
  %tr
    %td Danny Dinh
    %td 77.3
    %td M
    %td.success 127
    %td.success 135
    %td.fail 143
    %td 135
    %td.fail 83
    %td.success 87
    %td.success 93
    %td 93
    %td.success 121
    %td.success 129
    %td.success 133
    %td 133
    %td 361
    %td 252.0
    %td 6
  %tr
    %td Eddie Shen
    %td 71.1
    %td M
    %td.fail 111
    %td.fail 111
    %td.success 115
    %td 115
    %td.fail 81
    %td.fail 81
    %td.fail 81
    %td N/A
    %td.success 119
    %td.success 125
    %td.fail 127
    %td 125
    %td 159
    %td 117.8
    %td 7
