%h2 Support Us

%p.text
	U of T Ironsports is a non-profit organization with all monetary support contributing to club programming and improving member experience. To host our events, rental fees are required for the space. We do this in the most economic way possible by using reduced rental rates for affiliated student groups at our university. While we do accept a small membership fee, we rely on external sponsorship for our financial support.

%h3 Sponsorship Incentives
