%h2 Support Us

.text
	%p
		U of T Ironsports represents a group determined to excel in their education, future careers, and the powerlifting sport. By sponsoring U of T Ironsports you are fostering the development of a strong, intelligent, and ambitious student community.
	%p 
		All monetary support we aqcuire contributes to club programming and improving member experience. To host our events, rental fees are required for the space. We do this in the most economic way possible by using reduced rental rates for affiliated student groups at our university. While we do accept a small membership fee, we rely on external sponsorship for our financial support.
	%p
		If you or your organization is interested in supporting our club, please contact Amanda Santos at 
		%a(href="mailto:president@uoftironsports.ca")	president@uoftironsports.ca.

	%h3 Sponsorship Incentives
	%p
		U of T Ironsports accepts both monetary and in-kind donations. All partners of U of T Ironsports earn a logo on our website.
%p.center.donate Donations >$100
%p.center Logo on our team t-shirts.
%p.center.donate Donations >$250
%p.center Feature advertisement in our quartlery e-newsletter or at one of our seminars.
%p.center.donate Donations >$500
%p.center Active promotion at all club events.
%p.center
	%img.whitebrd.smaller(src="http://dl.dropbox.com/u/97246920/squatlogo.jpg")
.text
	%p
		U of T Ironsports attends two club fairs on campus, hosted by U.T.S.U. and the U of T Engineering Society. At these events, the club and its sponsors are exposed to 1000+ undergraduate students at the University of Toronto. Our apparel is worn by team members at all events and throughout our training, providing additional exposure to the strength-training and athletic student communities.	
	%p
		Although the club is still in its infancy, Ironsports athletes have already begun to make their mark. In June 2012, James Cash and Amanda Santos competed at the UTM Classic 3-lift Open OPA- sanctioned competition with Amanda achieving gold and James silver in their respective weight classes. James Cash qualified for nationals at this first meet with a 505 kg (1111 lb) 3-lift total.
