%h2 About Our Team
.text
  %p

  %p.center
    = image_tag 'members.jpg', class: 'whitebrd smaller'
  %p
    The University of Toronto Ironsports Club (UTIS) is non-profit student
    strength training community.  Founded in March 2012, U of T Ironsports was created
    to connect students to strength training and nutrition resources as well as each other.
    Students are often seeking healthy methods of stress relief and support networks, both of
    which U of T Ironsports aims to provide.
  %p
    Our club now includes powerlifting and weightlifting divisions. Powerlifting is a sport
    that consists of three attempts at maximal weight on three lifts: squat, bench press, and deadlift. 
    The powerlifts primarily test absolute strength. In comparison to powerlifting, weightlifting 
    tests aspects of explosive strength. Weightlifting is an Olympic sport comprised of the snatch and
    clean & jerk movements. Both sports demonstrate the extreme strength limits of human potential,
    and the incredible will and dedication of their athletes. 
  %p
    Powerlifting and weightlifting appeal to students due to their versatility: though group
    training sessions are offered and encouraged, our members have the flexibility to train
    at a time most convenient to them. For some the sport can be a meditation, and for others
    picking up heavy things and putting them down is a great way to de-stress with your friends. 
    Our members know, regardless of how poor or well our exams, essays, and assignments go -
    the iron will always make us feel better. 
  %p.center
    = image_tag 'squat.jpg', class: 'whitebrd smaller'

%h3.text
  Membership Benefits
%p.text
  Becoming a paid member of U of T Ironsports entitles you to reciept of a
  custom U of T Ironsports training log notebook and a membership card. This
  card allows you to access all online club resources and compete at all club
  meets. For our train &amp; eat social events, as a team we may receive meals at a
  reduced cost. These discounts are only applicable to paid members. Membership
  is renewed annually. To register as an official paid member, one can only do
  so at our training &amp; nutrition seminars. 
%p.text
  Any U of T student, staff, or faculty member is welcome to join U of T
  Ironsports. No prequisites training-wise are required.
%h3.text
  Executive Team
%p.text
  If you're interested in helping with the club logistics of hosting events,
  pursuing sponsorship opportunities, media respresentation, or managing our
  communications we'd love to hear from you. For more details regarding
  executive roles and structure of our club, feel free to take a look at our
  = link_to 'club constitution.', "http://dl.dropbox.com/u/97246920/UofTIronsportsConstitution_031612.pdf"

