//
// This is a manifest file that'll automatically include all the stylesheets available in this directory
// and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
// the top of the compiled file, but it's generally better to create a new file per style scope.
//= require_self
//= require_tree .

@import "fonts"

.clear
  :clear both
.left
  :float left
  :text-align right
.right
  :float right
  :text-align left

.quiet
  :color gray
  :font-size 0.8em

$bg-color : #03030a
body
  :text-align center
  :background-color $bg-color
  :color white

h1, h2, h3, h4
  :font-family 'HeadlineOneHPLHS', sans-serif
  :font-weight normal

h1
  :font-size 2.5em
h2
  :color red
  :font-size 2em
h3
  :font-size 1.5em
h4
  :font-size 1.3em
  :color gray

section.header
  :min-height 10em
  :margin-left 3em
  hgroup.logo
    :float left
    img
      :height 5em
nav
  :font-family 'HeadlineOneHPLHS', sans-serif
  :float left
  :margin-left 0
  ul
    :list-style-type none
    li.big
      :font-size 1.5em
    li
      :display inline-block
      :margin-left 0.2em
      :padding-left 0.5em
      a
        :font-family sans-serif
.bottomnav
  :font-size 1.5em
  ul
    :background-color white
    :margin-top 0
    li
      :height 100%
      :padding 0
      :padding-left 0.5em
      a
        :color $bg-color
        &:visited
          :color $bg-color
        &:hover
          :background-color $bg-color
          :color white



section#main
  :clear both

.twocol
  :overflow hidden
  :width 50%
  :margin 0 auto
