// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul
  :margin 0
  li
    :margin 0
    :list-style-type none
    a
      :text-decoration none
      :color white
      &:visited
        :color white

#main_info_links
  :margin-bottom 5em
  h4
    :margin-left 1.2em
    :margin-bottom 0

table.stats
  :width 60%
  :margin 0 auto

#main > h2
  :text-align center
  :margin 0
  :padding 0

.text
  :text-align justify
  figure
    blockquote
      :text-align justify
      :font-size 0.75em
      :font-style italic
      :padding 0 30px 0 30px
      :border 0
      :margin-bottom 0
    figcaption
      :margin-left 3em

.donate
  :font-style italic
  :font-weight bold
  :text-transform uppercase

.center
  :text-align center

ol.center
  :list-style-position inside

img.whitebrd
  :border 4px solid white

.smaller2
  :width 40%

.text
  figure
    figcaption.align-left
      :text-align left
      :margin-left 0

.left
  :float left
  :margin-right 20px
  :margin-top 0
  :margin-left 0
  :margin-bottom 0


img.right
  :float right
  :margin-right 0
  :margin-top 0
  :margin-left 20px
  :margin-bottom 0

.clear
  :clear both

.smaller
  :width 50%

.gallery
  :display inline-block
  :list-style none
  :position relative
  :overflow hidden
  a
    .text
      :position absolute
      :text-align center
      :width 100%
      :top 70px
      :z-index 20
      :font-family 'HeadlineOneHPLHS', sans-serif
      :font-size 1.5em
    img
      :z-index 10
      :opacity 0.5
      :filter alpha(opacity=50)
      :-ms-filter "progid:DXImageTransform.Microsoft.Aplha(Opacity=50)"

figcaption
  :font-style italic
  :font-size 0.8em

table#sponsors
  :margin 0 auto
  :margin-bottom 1em
  :width 80%
  thead
  tbody
    :background-color white
    :color black

table.results
  width: 85%
  th
    min-width: 3em
  .fail
    :background-color red
  .success
    :background-color green

.redtext
  :color #9d261d
